*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(77, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    background-color: #fee4c3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 270px;
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
h3{
    padding-top: 25px;
}
p{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}